<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyt.dao.UserInfoMapper">
    <select id="getAll" resultType="UserInfo">
        SELECT * FROM 	user_info
	</select>
    <select id="getCount" resultType="int">
        SELECT count(1) FROM 	user_info
	</select>
</mapper>